<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данмерский Переводчик</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Переводчик на Данмерский язык</h1>
        <form method="POST">
            <textarea name="input_text" placeholder="Введите текст...">{{ input_text }}</textarea>
            <br>
            <label for="language">Язык перевода:</label>
            <select name="language" id="language">
                {% for key, lang in languages.items() %}
                    <option value="{{ key }}" {% if key == selected_lang %}selected{% endif %}>
                        {{ lang.source_language|capitalize }} → {{ lang.target_language|capitalize }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Перевести</button>
        </form>

        {% if translation %}
            <div class="result">
                <h2>Перевод:</h2>
                <p>{{ translation }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>